@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  /* Default background */
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  /* Prevent horizontal scroll from animations */
}

/* Ensure canvas (background) is behind everything */
canvas {
  touch-action: none;
}

/* Utility to hide scrollbar if needed */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}